<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" developmentDependency="true" />
  <package id="FCTB" version="2.16.24" targetFramework="net472" />
  <package id="Fody" version="6.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="PocDatabase" version="1.0.1" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>